.boardMemberCard {
    border: 2px solid #EBAB21;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    max-width: 315px; /* Adjust card width */
    flex-grow: 1; /* Allow the card to grow within the container */
  }
  
  .boardMemberImage {
    border-radius: 40%;
    width: 120px;
    height: 120px;
    object-fit: cover; /* Ensure the image maintains aspect ratio */
  }
  
  
  .boardMemberName {
    font-size: 1.8em;
    margin: 12px 0;
  }
  
  .boardMemberTitle {
    font-size: 1.4em;
    color: #066fde;
  }
  
  .boardMemberStats {
    list-style-type: none;
    padding: 0;
  }
  
  .boardMemberBio {
    font-size: 1em;
    margin-top: 12px;
  }
  
  .boardMemberLinkedIn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #0077b5; /* LinkedIn blue */
    border-radius: 50%;
    margin-top: 16px;
    visibility: hidden;
  }
  
  .boardMemberLinkedIn:hover {
    background-color: #005582; /* Darker blue on hover */
    visibility: visible;
  }
  
  .linkedInIcon {
    width: 20px; /* Adjust size of the icon */
    height: 20px;
    fill: white; /* For SVG icons, this fills the icon color */
  }